<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navmain" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navmain" class="navbar-menu">
    <div class="navbar-start header-navigation">
      <div class="columns is-multiline">

        <div *ngFor="let title of titles">
          <div class="is-one-fifth" style="background-color: rgb(255, 255, 255);">
            <a routerLink="/{{title.url}}" class="navbar-item navigation-text is-size-6" routerLinkActive='active'>
              {{title.name}}
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar-end">

    </div>
  </div>
</nav>