.image-swan {
    transition: .5s ease;
    background-image: url("/assets/images/swan-solid.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 50%;
  }
    
    .image-swan:hover {
      cursor: pointer;
      background-image: url("/assets/images/swan-transparent.png");
    }

