<app-header-navigation></app-header-navigation>
<mat-drawer-container autosize>
  <mat-drawer mode="side" opened="true">
    <div class="thumbnails-container">
      <a routerLink="/collection/{{collection.collectionId}}" *ngFor="let collection of collections">
        <span> {{collection.name}} </span>
      </a>
    </div>
  </mat-drawer>

<div class="container" #container>
  <div class="image-container" *ngFor="let work of works">
    <img [src]="work.path" alt="{{work.name}}">
    <h3 class="is-size-7">{{work.material}} - {{ work.description }} | {{ work.dimensions_x }}mm x {{ work.dimensions_y }}mm</h3>
  </div>
</div>
