/* You can add global styles to this file, and also import other style files */

@import "~bulma/css/bulma.css";
@import "~include-media/dist/include-media";
//@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$header-height: 150px;
$thumbnail-width: 150px;
$thumbnail-padding: 30px;
$navigation-height: 50px;
$top-height: $header-height + $navigation-height;

$heading-color: rgb(163, 163, 163);
$light-gray: #ccc;

@mixin fluid-image {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

@mixin full-height {
  height: calc(100vh - #{$top-height});
}

@mixin center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: white;
}

body {
  padding-top: $top-height;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Nexa Light', 'Open Sans', sans-serif;
}

mat-drawer-container {
  @include full-height();
  overflow: scroll;
}

mat-drawer {
  @include full-height();
  overflow: scroll;
}

mat-drawer-content {
  @include full-height();
  .container {
    height: 100%;
    overflow: scroll;
  }
}

.image-container {
  height: calc(100vh - 200px);
  padding: 50px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include media('<=tablet') {
    height: auto;
    padding: 5px;
  }

  img {
    @include fluid-image();
  }
}

.thumbnails-container {
  width: $thumbnail-width;
  height: 100%;
  padding-left: $thumbnail-padding;
  border-right: 1px solid $light-gray;
  img {
    @include fluid-image();
  }
  a {
    color: #333;
    padding: 5px 0;
    display: block;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  // padding-left: $thumbnail-width;
  background-color: white;
  // border-bottom: 1px solid $light-gray;
  color:rgb(163, 163, 163);
  z-index: 100;
  height: $header-height;
  cursor: pointer;
  @include center-content();

  &:focus {
    outline: none;
  }

  h1 {
    text-align: center;
  }
}

.header-navigation{
  position: fixed;
  background-color: white;
  top: $header-height;
  width: 100%;
  height: $navigation-height;
  z-index: 100;
  border-bottom: 1px solid $heading-color;
  @include center-content();
  a {
    color: $heading-color;
    padding: 5px 0;
    display: block;
  }
}

.header-navigation > a.navigation-text {
  color:rgb(163, 163, 163) !important;
}

.category-containter{
  
  padding-top: $header-height + $navigation-height;
  width:  50%;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  @include center-content();
}
.category-box{
  background-color: black;
  height: 250px;
  width: 250px;
  max-height: 240px;
  max-width: 250px;
  padding:0px;
  display: table;
}
  
    .category-box > .category-title{
      color: #ccc;
      text-align:center;
      vertical-align: middle !important;
      display:table-cell;
      transition: .5s ease;
      border-radius: 6px;
    }

    .category-title:hover{
        box-shadow: 0 0 6px 3px rgba(42, 46, 48, 0.5);
    }